:root {
  --background: rgb(254, 248, 232);
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-poetsen-one);
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: color 0.55s ease-in-out;
  -moz-transition: color 0.55s ease-in-out;
  -webkit-transition: color 0.55s ease-in-out;
}

a:hover {
  color: rgb(206, 63, 53);
  transition: color 0.55s ease-in-out;
  -moz-transition: color 0.55s ease-in-out;
  -webkit-transition: color 0.55s ease-in-out;
}
